<%if current_user.role == "teacher"%>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Buscar Proyectos</title>
    </head>
    <body>
    <div class="container">
        <br>
        <h1><span>Buscar Proyectos</span></h1>
    </div>

    <div class="container cols-6">
        <input class="form-control mr-sm-2 mt-4" type="search" placeholder="Search" aria-label="Search" id="formulario">
        <br>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="boton">Search</button>
    </div>

    <div class="container">
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Profesor</th>
                        <th scope="col">Descripción</th>
                    </tr>
                    </thead>
                    <tbody id="table_projects_search"></tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let projects;

            fetch('/search_projects.json')
                .then(response => response.json())
                .then(data => {
                    projects = data;
                    console.log(projects);

                    const formulario = document.querySelector('#formulario');
                    const boton = document.querySelector('#boton');
                    const resultado = document.querySelector('#table_projects_search');

                    const filtrar = () => {
                        console.log(formulario.value);

                        resultado.innerHTML = '';

                        const texto = formulario.value.toLowerCase();
                        let a = 1;

                        for (let project of projects) {
                            let title = project.title.toLowerCase();
                            let description = project.description.toLowerCase();
                            let profesor_name = (project.teacher.name + project.teacher.last_name).toLowerCase();

                            if (title.indexOf(texto) !== -1 || description.indexOf(texto) !== -1 || profesor_name.indexOf(texto) !== -1) {
                                resultado.innerHTML += `
                                    <tr data-id="${project.id}">
                                        <th scope="row">${a}</th>
                                        <td>${project.title}</td>
                                        <td>${project.teacher.name} ${project.teacher.last_name}</td>
                                        <td>${project.description}</td>
                                        <td><button onclick="verProyecto(${project.id})" class="btn btn-success">Ver</button></td>
                                    </tr>
                                `;
                                a++;
                            }
                        }

                        if (resultado.innerHTML === '') {
                            resultado.innerHTML += `
                                <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
                                    <span style="font-size: 48px; margin-right: 10px;">🔍</span>
                                    <span>No project was found.</span>
                                    <div class="flex justify-center bottom-0">
                                        <img src="/pikachu-intro.png" alt="Pikachu " width="130" height="130">
                                    </div>

                                </div>
                            `;
                        }
                    }

                    boton.addEventListener('click', filtrar);
                });
        });

        function verProyecto(id) {
            window.location.href = '/projects/' + id;
        }
    </script>
    </body>
    </html>

<%else%>
    <div class="container">
        <br>
        <h1><span>Buscar Proyectos</span></h1>
    </div>

    <div class="container cols-6">
        <input class="form-control mr-sm-2 mt-4" type="search" placeholder="Search" aria-label="Search" id="formulario">
        <br>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="boton">Search</button>
    </div>

    <div class="container">
        <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
            <table class="table table-striped">
                <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Profesor</th>
                <th scope="col">Descripción</th>
                </tr>
                </thead>
                <tbody id="table_projects_search">

                </tbody>
            </table>
        </div>
    </div>




    <script>
        let projects

        fetch('/search_projects.json')
            .then(response => response.json())
            .then(data => projects = data)
            .then(() => console.log(projects));

        const formulario = document.querySelector('#formulario');
        const boton = document.querySelector('#boton');
        const resultado = document.querySelector('#table_projects_search');

        const filtrar = () =>{
            console.log(formulario.value);

            resultado.innerHTML = '';

            const texto = formulario.value.toLowerCase()
            let a = 1;

            for(let project of projects){
                let title = project.title.toLowerCase();
                let description = project.description.toLowerCase()
                let profesor_name = (project.teacher.name + project.teacher.last_name).toLowerCase()
  
                if(title.indexOf(texto) !== -1){
                    resultado.innerHTML += `
                        <tr data-id="${project.id}">
                            <th scope="row">${a}</th>
                            <td>${project.title}</td>
                            <td>${project.teacher.name} ${project.teacher.last_name}</td>
                            <td>${project.description}</td>
                            <td><a href="/projects/${project.id}" class="bg-slate-100 rounded p-1.5 text-slate-400">Ver</a></td>
                        </tr>
                    `;
                } else if(description.indexOf(texto) !== -1){
                    resultado.innerHTML += `
                        <tr data-id="${project.id}">
                            <th scope="row">${project.id}</th>
                            <td>${project.title}</td>
                            <td>${project.teacher.name} ${project.teacher.last_name}</td>
                            <td>${project.description}</td>
                            <a href="/projects/${project.id}" class="bg-slate-100 rounded p-1.5 text-slate-400">Ver</a>
                        </tr>
                    `;
                }  else if(profesor_name.indexOf(texto) !== -1){
                    resultado.innerHTML += `
                        <tr data-id="${project.id}">
                            <th scope="row">${project.id}</th>
                            <td>${project.title}</td>
                            <td>${project.teacher.name} ${project.teacher.last_name}</td>
                            <td>${project.description}</td>
                            <a href="/projects/${project.id}" class="bg-slate-100 rounded p-1.5 text-slate-400">Ver</a>
                        </tr>
                    `;
                }
                a++;
            }

            // Agregar evento de click a cada fila de la tabla
            resultado.querySelectorAll('tr').forEach(tr => {
                tr.addEventListener('click', () => {
                    // Obtener el id del project correspondiente
                    const id = tr.dataset.id;
                    // Construir la URL del project
                    const url = `/projects/${id}`;
                    // Redirigir al usuario a la URL del project
                    window.location.href = url;
                });
            });
                    
            if (resultado.innerHTML === ''){
                resultado.innerHTML += `
                <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
                    <span style="font-size: 48px; margin-right: 10px;">🔍</span>
                    <span>No project was found.</span>
                    <div class="flex justify-center bottom-0">
                        <img src="/pikachu-intro.png" alt="Pikachu " width="130" height="130">
                    </div>

                </div>
                `
            }

            
        }

        

        boton.addEventListener('click', filtrar);

    </script>
<%end%>