<div class="flex flex-wrap justify-center -mx-4", style="margin-top: 50px;">
  <% @teachers.each do |teacher| %>
    <div class="w-1/2 md:w-1/3 lg:w-1/3 px-4 mb-4">
      <div class="bg-yellow-500 border border-gray-200 rounded-lg p-6 shadow-lg flex flex-col justify-center items-center", style="padding: 10px 20px; border-radius: 10px; margin-left: 20px; margin-right: 20px;">

        <h2 class="text-lg font-semibold underline text-center">
          <%= teacher.name %> <%= teacher.last_name %>
        </h2>

        <p class="text-sm mt-2 text-center">
          <strong>Especialidad:</strong>
          <br>
          <%= teacher.area.name %>
        </p>

      </div>
    </div>
  <% end %>
</div>
