<div class="w-full h-16 bg-custom-primary">
    <div class="flex flex-row w-full">
        <div class="p-5 font-bold text-xl"> PickAProject </div>

        

        <% if user_signed_in? %>
            <%= link_to "Investigaciones", projects_path %>
            <%= button_to "Salir", destroy_user_session_path, method: :delete %>
        <% end %>
    </div>
</div>