<div class="w-full h-16 bg-custom-primary">
    <div class="flex flex-row w-full">
        <%= link_to "PickAProject", root_path, class: "p-5 font-bold text-xl" %>

        

        <% if user_signed_in? %>
            <%= link_to "Investigaciones", projects_path %>
            <%= button_to "Salir", destroy_user_session_path, method: :delete %>
        <% end %>
    </div>
</div>